<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | Game</title>
    <link rel="shortcut icon" href="TemplateData/favicon.ico">
    <link rel="stylesheet" href="TemplateData/style.css">
    <link rel="stylesheet" href="css/chatbox.css">
    <script src="TemplateData/UnityProgress.js"></script>
    <script src="Build/UnityLoader.js"></script>
    <script>
        var gameInstance = UnityLoader.instantiate("gameContainer", "Build/WebGL_demoGame.json", {
            onProgress: UnityProgress
        });
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>

<body>
    <div id="logout" style="float: right; width:30%; ">
        <form action='/logout' onsubmit="return confirm('Are you sure you want to log out?')">
            <input type='submit' value='Logout' , id="logoutBtn" style="width:10%;padding:10px 20px;margin: 2px 1px;font-size:15px;cursor:pointer;" />
        </form>
    </div>
    <div class="webgl-content">
        <div id="gameContainer" style="width: 960px; height: 600px"></div>
        <div class="footer">
            <div class="webgl-logo"></div>
            <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
            <div class="title">Game</div>
        </div>
    </div>

    <div id="chatbox">
        <ul id="messages"></ul>
        <form action="/" method="POST" id="chatForm">
            <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." /><button>Send</button>
        </form>
        <script>
            var socket = io.connect(PORT);
            // submit text message without reload/refresh the page
            $('form').submit(function(e) {
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });
            // append the chat text message
            socket.on('chat_message', function(msg) {
                $('#messages').append($('<li>').html(msg));
            });
            // append text if someone is online
            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });
            // ask username
            var username = prompt('Please tell me your name');
            socket.emit('username', username);
        </script>
    </div>
</body>

</html>